/*
Colorblind safe color palette from colorbrewer2.org.
#31a354 - Dark Green
#abd9e9 - Light Blue
#2c7bb6 - Blue
*/

body {
  background-color: #31a354;
  color: #abd9e9;
  text-align: center;
}

h1 {
  color: #2c7bb6;
}
